@model gsb.Models.Metier.Invitation

@{
    ViewBag.Title = "Ajouter une invitation";
    Layout = "~/Views/Shared/_layoutGsb.cshtml";
}

<h1>@ViewBag.Title</h1>

@if (Model != null)
{
    @using (Html.BeginForm("AjouterInvitation", "Praticien", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="card col-8 mx-auto mt-5">
            <div class="card-body">
                <h3 class="card-title">Ajouter une invitation</h3>
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label for="id_praticien">Praticien :</label>
                        <select class="form-control" id="id_praticien" name="id_praticien">
                            @foreach (var praticien in ViewBag.Praticiens)
                            {
                                <option value="@praticien.Id_praticien">@praticien.Id_praticien - @praticien.Nom_praticien @praticien.Prenom_praticien</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_activite_compl">Activite :</label>
                        <select class="form-control" id="id_activite_compl" name="id_activite_compl">
                            @foreach (var activite in ViewBag.Activites)
                            {
                                <option value="@activite.Id_activite_compl">@activite.Motif_activite</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="specialiste">Spécialiste :</label>
                        <input name="specialiste" type="text" class="form-control" id="specialiste" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Enregistrer" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }
}
